.Header{
    position: absolute;
    width:100vw;
    height:60px;
    top:0px;
    left:0px;
    box-shadow: 0px 2px 8px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.Header>.Title{
    width:35%;
    font-size: 18px;
    padding-left: 2%;
}

.Header>.Links{
    width:65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Header>.Links>.Link{
    font-size: 16px;
    padding:4px;
    color: rgb(43, 55, 59);
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}

.Link:hover{
    border-bottom: 4px solid black;
    padding-bottom: 1px;
    background-color: lightblue;
    transition: 0.2s;
}